<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="AppiumProject.JavaAppium.SwipeTest"/>
       <class name="AppiumProject.JavaAppium.TextTest"/>
        <class name="AppiumProject.JavaAppium.Print2Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
